{% extends 'base.html' %}

{% load static %}


{% block content %}

<div class="body">
  <!-- pageintro -->
  <section class="page-header page-header-modern page-header-background page-header-background-md py-0 overlay overlay-color-primary overlay-show overlay-op-6" style="background-image: url({% static 'img/intro.jpg' %});">
  <div class="container">
    <div class="row">
      <div class="col-sm-5 order-2 order-sm-1 align-self-center p-static">

        <div class="overflow-hidden pb-2">
          <h1 class="text-10 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="300"><strong>Ambassador</strong></h1>
        </div>
        <div class="overflow-hidden">
          <ul class="breadcrumb breadcrumb-light d-block appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="100">
            <li><a href="#">Ministries</a></li>
            <li class="active">Ambassador</li>
          </ul>
        </div>

        <div class="appear-animation d-inline-block" data-appear-animation="rotateInUpRight" data-appear-animation-delay="500">
          <span class="arrow hlt" style="top: 40px;"></span>
        </div>
      </div>
      <div class="col-sm-7 order-1 order-sm-2 align-items-end justify-content-end d-flex pt-5">
        <div style="min-height: 350px;" class="overflow-hidden">
          <img  alt="" src="img/custom-header.png" class="img-fluid appear-animation" data-appear-animation="slideInUp" data-appear-animation-delay="600" data-appear-animation-duration="1s">
        </div>
      </div>
    </div>
  </div>
</section>
  <div class="col-sm-9">

    <h2 class="word-rotator letters rotate-3 mb-2">
      <span>We Are The </span>
      <span class="word-rotator-words">
        <b class="is-visible">Powerful</b>
        <b>Youthful</b>
        <b>Mighty</b>
      </span>
      <span>Ambassadors</span>
    </h2>
  </div>
  <div class="col-lg-12">

    <div class="accordion accordion-lg" id="accordion5">
      <div class="card card-default">
        <div class="card-header">
          <h4 class="card-title m-0">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion5" href="#collapse5One">
              Why Ambassador Club ?
            </a>
          </h4>
        </div>
        <div id="collapse5One" class="collapse show">
          <div class="card-body">
            <p class="mb-0">The Ambassador club is the third club in the Adventist Youth Movement.</p>
            <img class="float-left" width="400" height="357" src="{% static 'img/Ambassador logo.jpg' %}" alt="">
            <p>The Seventh-day Youth Adventist Department has served young people across three levels since it was founded: the 4-9 years old explorer club, the 10-15 years old Pathfinder club, and the 16-30 years old young and senior youth.Divisions however noted that young men who satisfy the criteria for Pathfinder do not have a system that meets their needs. You don't want to abandon the Pathfinder club, but at the same time don't feel old enough to join the young and young adults. In the absence of a program / level for this category many Branches, such as Companion in Europe, Medical Brigade for the Inter-American and South American branches, etc., were running their own programs to fill this void.</p>
          </div>
        </div>
      </div>
      <div class="card card-default">
        <div class="card-header">
          <h4 class="card-title m-0">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion5" href="#collapse5Two">
              Learn More
            </a>
          </h4>
        </div>
        <div id="collapse5Two" class="collapse">
          <div class="card-body">
            <p class="mb-0">In order to meet the needs of youth aged 16 to 21 in the seventh-day Advantist community, a significant step forward has been taken in the 2001 World Youth Leadership Convention by directing the Youth Department to produce resources for the new level. This is the product of the Ambassador's training.</p>
          </div>
        </div>
      </div>
      <div class="card card-default">
        <div class="card-header">
          <h4 class="card-title m-0">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion5" href="#collapse5Tw">
              Mission Statement/Aim/Motto
            </a>
          </h4>
        </div>
        <div id="collapse5Tw" class="collapse">
          <div class="card-body">
            <h4>Mission Statement</h4>
            <p>The Ambassador Group is an organization of the Seventh-day Adventist Church dedicated to meeting the spiritual, social, and lifestyle needs of youth ages 16-20’s by challenging them to experiencing and sharing a personal relationship with Christ, developing a lifestyle fitting their belief system and vocational interest, and providing them with an adequate venue for wholesome development of lifelong friendships.</p>
            <h4>Aim</h4>
            <p>To Take The Advent Message to All the World in My Generation</p>
            <h4>Motto</h4>
            <p>The Love of Christ Compels Me</p>
          </div>
        </div>
      </div>
      <div class="card card-default">
        <div class="card-header">
          <h4 class="card-title m-0">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion5" href="#collapse5T">
              Membership
            </a>
          </h4>
        </div>
        <div id="collapse5T" class="collapse">
          <div class="card-body">
            <p>Any youth age 16 up through the mid-twenties who choose to live by the principles and guidelines of the Seventh-day Adventist Church.</p>
            <p>For the purposes of classification, the Ministry of Junior Youth describes the Junior Ministry as concentrating on those under the age of 16 years of age. The young people in the senior ranks are those aged between the ages of 16-30 and the ages of 22-30 and more split into two separate ministries. The primary emphasis of this club is on the elderly, although the cap on the age is left more open and in many fields young people in the 20s will greatly benefit from the benefits of membership in this club.</p>
          </div>
        </div>
      </div>
      <div class="card card-default">
        <div class="card-header">
          <h4 class="card-title m-0">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion5" href="#collapse5pk">
              Ambassador Flag
            </a>
          </h4>
        </div>
        <div id="collapse5pk" class="collapse">
          <div class="card-body">

            <img class="float-left" width="400" height="357" src="{% static 'img/Ambassador Flag_small.jpg' %}" alt="">
          </div>
        </div>
      </div>
      <div class="card card-default">
        <div class="card-header">
          <h4 class="card-title m-0">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion5" href="#collapse5mk">
            Programming Fundamentals
            </a>
          </h4>
        </div>
        <div id="collapse5mk" class="collapse">
          <div class="card-body">
            <ol>
              <li>Leadership development. Curricula such as the Master Guide, AY Leadership, Small Group Leadership and other age appropriate and well established schemes can be considered</li>
              <li>Community outreach development through service and emergency preparedness training.</li>
              <li>A Christ-centered discipleship plan</li>
              <li>A personal and small group based mission lifestyle.</li>
              <li>Lifestyle vocational/career development through specialized multi-vocational training and advanced honor level.</li>
              <li>Friendship and relationship skill developmen</li>
              <li>Character and personality development/awareness through outdoor/high adventure programming</li>

            </ol>
          </div>
        </div>
      </div>

    </div>
  </div>



















































































</div>










































































{% endblock content %}
