{% extends 'base.html' %}

{% load static %}


{% block content %}


      <div class="body">

        <!-- pageintro -->
        <section class="page-header page-header-modern page-header-background page-header-background-md py-0 overlay overlay-color-primary overlay-show overlay-op-6" style="background-image: url({% static 'img/intro.jpg' %});">
        <div class="container">
          <div class="row">
            <div class="col-sm-5 order-2 order-sm-1 align-self-center p-static">

              <div class="overflow-hidden pb-2">
                <h1 class="text-10 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="300"><strong>Resources</strong></h1>
              </div>
              <div class="overflow-hidden">
                <ul class="breadcrumb breadcrumb-light d-block appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="100">
                  <li><a href="#">Home</a></li>
                  <li class="active">Resources</li>
                </ul>
              </div>

              <div class="appear-animation d-inline-block" data-appear-animation="rotateInUpRight" data-appear-animation-delay="500">
                <span class="arrow hlt" style="top: 40px;"></span>
              </div>
            </div>
            <div class="col-sm-7 order-1 order-sm-2 align-items-end justify-content-end d-flex pt-5">
              <div style="min-height: 350px;" class="overflow-hidden">
                <img  alt="" src="img/custom-header.png" class="img-fluid appear-animation" data-appear-animation="slideInUp" data-appear-animation-delay="600" data-appear-animation-duration="1s">
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- logos -->
      <h2 class="text-center">Resources</h2>
     <section class="section bg-color-grey-scale-1 section-height-3 border-0 m-0 appear-animation" data-appear-animation="fadeIn">
       <div class="container my-3">
         <div class="row justify-content-center">
           <div class="col-sm-10 col-md-7 col-lg-4 mb-4 mb-lg-0 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200">
             <div class="featured-boxes featured-boxes-modern-style-1">
               <div class="featured-box overlay overlay-show">
                 <div class="featured-box-background" style="background-image: url({% static 'img/Adventurer_Logo.png' %}); background-size: cover; background-position: center;"></div>
                 <div class="box-content px-lg-4 px-xl-5 py-lg-5">
                   <h2>Adventurer Logo</h2>
                   <p class="font-weight-light">4-9 YEARS OLD</p>
                   <a href="/" class="btn btn-light-2 btn-outline font-weight-semibold btn-px-5 btn-py-2 border-width-1 text-1">Download</a>
                 </div>
               </div>
             </div>
           </div>
           <div class="col-sm-10 col-md-7 col-lg-4 mb-4 mb-lg-0 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200">
             <div class="featured-boxes featured-boxes-modern-style-1">
               <div class="featured-box overlay overlay-show">
                 <div class="featured-box-background" style="background-image: url({% static 'img/adventurer_World_Logo.png' %}); background-size: cover; background-position: center;"></div>
                 <div class="box-content px-lg-4 px-xl-5 py-lg-5">
                   <h2>Adventurer Logo</h2>
                   <p class="font-weight-light">4-9 YEARS OLD</p>
                   <a href="/" class="btn btn-light-2 btn-outline font-weight-semibold btn-px-5 btn-py-2 border-width-1 text-1">Download</a>
                 </div>
               </div>
             </div>
           </div>
           <div class="col-sm-10 col-md-7 col-lg-4 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="600">
             <div class="featured-boxes featured-boxes-modern-style-1">
               <div class="featured-box overlay overlay-show">
                 <div class="featured-box-background" style="background-image: url({% static 'img/Pathfinder_logo.jpeg' %}); background-size: cover; background-position: center;"></div>
                 <div class="box-content px-lg-4 px-xl-5 py-lg-5">
                   <h2>Pathfinder logo</h2>
                   <p class="font-weight-light">10-15 YEARS OLD</p>
                   <a href="/" class="btn btn-light-2 btn-outline font-weight-semibold btn-px-5 btn-py-2 border-width-1 text-1">Download</a>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
     </section>
     <section class="section bg-color-grey-scale-1 section-height-3 border-0 m-0 appear-animation" data-appear-animation="fadeIn">
       <div class="container my-3">
         <div class="row justify-content-center">
           <div class="col-sm-10 col-md-7 col-lg-4 mb-4 mb-lg-0 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200">
             <div class="featured-boxes featured-boxes-modern-style-1">
               <div class="featured-box overlay overlay-show">
                 <div class="featured-box-background" style="background-image: url({% static 'img/Pathfinder_world_logo.png' %}); background-size: cover; background-position: center;"></div>
                 <div class="box-content px-lg-4 px-xl-5 py-lg-5">

                   <h2>Pathfinder logo</h2>
                   <p class="font-weight-light">10-15 YEARS OLD</p>
                   <a href="/" class="btn btn-light-2 btn-outline font-weight-semibold btn-px-5 btn-py-2 border-width-1 text-1">Download</a>
                 </div>
               </div>
             </div>
           </div>
           <div class="col-sm-10 col-md-7 col-lg-4 mb-4 mb-lg-0 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200">
             <div class="featured-boxes featured-boxes-modern-style-1">
               <div class="featured-box overlay overlay-show">
                 <div class="featured-box-background" style="background-image: url({% static 'img/Ambassador_logo.png' %}); background-size: cover; background-position: center;"></div>
                 <div class="box-content px-lg-4 px-xl-5 py-lg-5">

                   <h2>Ambassador logo</h2>
                   <p class="font-weight-light">16-21 YEARS OLD</p>
                   <a href="/" class="btn btn-light-2 btn-outline font-weight-semibold btn-px-5 btn-py-2 border-width-1 text-1">Download</a>
                 </div>
               </div>
             </div>
           </div>
           <div class="col-sm-10 col-md-7 col-lg-4 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="600">
             <div class="featured-boxes featured-boxes-modern-style-1">
               <div class="featured-box overlay overlay-show">
                 <div class="featured-box-background" style="background-image: url({% static 'img/AY_Logo.png' %}); background-size: cover; background-position: center;"></div>
                 <div class="box-content px-lg-4 px-xl-5 py-lg-5">

                   <h2>Young Adult's logo</h2>
                   <p class="font-weight-light">22-31+ YEARS OLD</p>
                   <a href="/" class="btn btn-light-2 btn-outline font-weight-semibold btn-px-5 btn-py-2 border-width-1 text-1">Download</a>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
     </section>
     <section class="section bg-color-grey-scale-1 section-height-3 border-0 m-0 appear-animation" data-appear-animation="fadeIn">
       <div class="container my-3">
         <div class="row justify-content-center">
           <div class="col-sm-10 col-md-7 col-lg-4 mb-4 mb-lg-0 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200">
             <div class="featured-boxes featured-boxes-modern-style-1">
               <div class="featured-box overlay overlay-show">
                 <div class="featured-box-background" style="background-image: url({% static 'img/master_guide_logo.png' %}); background-size: cover; background-position: center;"></div>
                 <div class="box-content px-lg-4 px-xl-5 py-lg-5">

                   <h2>Master Guide logo</h2>
                   <p class="font-weight-light">Pathfinder leadership Program 18+</p>
                   <a href="/" class="btn btn-light-2 btn-outline font-weight-semibold btn-px-5 btn-py-2 border-width-1 text-1">Download</a>
                 </div>
               </div>
             </div>
           </div>
           <div class="col-sm-10 col-md-7 col-lg-4 mb-4 mb-lg-0 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200">
             <div class="featured-boxes featured-boxes-modern-style-1">
               <div class="featured-box overlay overlay-show">
                 <div class="featured-box-background" style="background-image: url({% static 'img/SYL-Logo.jpg' %}); background-size: cover; background-position: center;"></div>
                 <div class="box-content px-lg-4 px-xl-5 py-lg-5">

                   <h2>SYL logo</h2>
                   <p class="font-weight-light">16+ YEARS OLD</p>
                   <a href="/" class="btn btn-light-2 btn-outline font-weight-semibold btn-px-5 btn-py-2 border-width-1 text-1">Download</a>
                 </div>
               </div>
             </div>
           </div>
           <div class="col-sm-10 col-md-7 col-lg-4 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="600">
             <div class="featured-boxes featured-boxes-modern-style-1">
               <div class="featured-box overlay overlay-show">
                 <div class="featured-box-background" style="background-image: url({% static 'img/GYD.jpg' %}); background-size: cover; background-position: center;"></div>
                 <div class="box-content px-lg-4 px-xl-5 py-lg-5">

                   <h2>Global Youth Day logo</h2>
                    <p class="font-weight-light">Every Youth in the World</p>
                   <a href="/" class="btn btn-light-2 btn-outline font-weight-semibold btn-px-5 btn-py-2 border-width-1 text-1">Download</a>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
     </section>
     <!-- Anthems -->
     <h2 class="text-center">Anthems</h2>























































































      </div>
{% endblock content %}
