{% extends 'base.html' %}

{% load static %}

{% block content %}


		<div class="body">

			<div role="main" class="main">
				<div class="slider-container light rev_slider_wrapper" style="height: 650px;">
					<div id="revolutionSlider" class="slider rev_slider" data-version="5.4.8" data-plugin-revolution-slider data-plugin-options="{'delay': 9000, 'gridwidth': 1170, 'gridheight': 650, 'disableProgressBar': 'on', 'responsiveLevels': [4096,1200,992,500], 'navigation' : {'arrows': { 'enable': true, 'style': 'arrows-style-1 arrows-big arrows-dark' }, 'bullets': {'enable': false, 'style': 'bullets-style-1 bullets-color-primary', 'h_align': 'center', 'v_align': 'bottom', 'space': 7, 'v_offset': 70, 'h_offset': 0}}}">
						<ul>
							<li data-transition="fade">

								<img src="{% static 'img/s1.jpg' %}"
									alt=""
									data-bgposition="right center"
									data-bgpositionend="center center"
									data-bgfit="cover"
									data-bgrepeat="no-repeat"
									data-kenburns="on"
									data-duration="9000"
									data-ease="Linear.easeNone"
									data-scalestart="110"
									data-scaleend="100"
									data-rotatestart="0"
									data-rotateend="0"
									data-offsetstart="0 0"
									data-offsetend="0 0"
									data-bgparallax="0"
									class="rev-slidebg">

								<div class="tp-caption font-weight-extra-bold text-color-light negative-ls-2"
									data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"sX:1.5;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
									data-x="center"
									data-y="center" data-voffset="['-50','-50','-50','-75']"
									data-fontsize="['50','50','50','90']"
									data-lineheight="['55','55','55','95']">Garden Main <strong style="color: #6325BA;">Youth</strong></div>

								<div class="tp-caption font-weight-light text-color-light"
									data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":2000,"split":"chars","splitdelay":0.05,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
									data-x="center"
									data-y="center"
									data-fontsize="['18','18','18','50']"
									data-lineheight="['20','20','20','55']"
									style="color: #b5b5b5;">Ministries</div>

								<a class="tp-caption btn  font-weight-bold"
									href="#"
									data-frames='[{"delay":3000,"speed":2000,"frame":"0","from":"y:50%;opacity:0;","to":"y:0;o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
									data-x="center" data-hoffset="0"
									data-y="center" data-voffset="70"
									data-paddingtop="['15','15','15','30']"
									data-paddingbottom="['15','15','15','30']"
									data-paddingleft="['40','40','40','57']"
									data-paddingright="['40','40','40','57']"
									data-fontsize="['13','13','13','25']"
									data-lineheight="['20','20','20','25']" style="background-color: #6325BA;">Learn More<i class="fas fa-arrow-down ml-1"></i></a>

							</li>
							<li data-transition="fade">
								<img src="{% static 'img/s2.jpg' %}"
									alt=""
									data-bgposition="center center"
									data-bgfit="cover"
									data-bgrepeat="no-repeat"
									class="rev-slidebg">

								<!-- <div class="tp-caption"
									data-x="['left','left','center','center']" data-hoffset="['145','145','-150','-240']"
									data-y="center" data-voffset="['-50','-50','-50','-75']"
									data-start="1000"
									data-transform_in="x:[-300%];opacity:0;s:500;"
									data-transform_idle="opacity:0.5;s:500;"><img src="img/slides/slide-title-border-light.png" alt=""></div> -->

								<!-- <div class="tp-caption text-color-dark font-weight-normal"
									data-x="['left','left','center','center']" data-hoffset="['200','200','0','0']"
									data-y="center" data-voffset="['-50','-50','-50','-75']"
									data-start="700"
									data-fontsize="['22','22','22','40']"
									data-lineheight="['25','25','25','45']"
									data-transform_in="y:[-50%];opacity:0;s:500;">Hey Welcome To</div> -->

								<div class="tp-caption d-none d-md-block"
									data-frames='[{"delay":3800,"speed":500,"frame":"0","from":"opacity:0;x:10%;","to":"opacity:1;x:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
									data-x="['left','left','center','center']" data-hoffset="['365','365','80','135']"
									data-y="center" data-voffset="['-33','-33','-33','-55']"><img src="img/slides/slide-blue-line.png" alt=""></div>

								<div class="tp-caption"
									data-x="['left','left','center','center']" data-hoffset="['440','440','150','240']"
									data-y="center" data-voffset="['-50','-50','-50','-75']"
									data-start="1000"
									data-transform_in="x:[300%];opacity:0;s:500;"
									data-transform_idle="opacity:0.5;s:500;"><img src="img/slides/slide-title-border-light.png" alt=""></div>

								<h1 class="tp-caption font-weight-extra-bold  negative-ls-2"
									data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"sX:1.5;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
									data-x="['left','left','center','center']" data-hoffset="['152','152','0','0']"
									data-y="center"
									data-fontsize="['50','50','50','90']"
									data-lineheight="['55','55','55','95']"
									data-letterspacing="-1">Taking The <strong style="color: #6325BA;">Advent Message</strong></h1>

								<div  class="tp-caption text-color-light font-weight-light "
									data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":2000,"split":"chars","splitdelay":0.05,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
									data-x="['left','left','center','center']" data-hoffset="['166','166','0','0']"
									data-y="center" data-voffset="['40','40','40','80']"
									data-fontsize="['18','18','18','50']"
									data-lineheight="['20','20','20','55']" >Mathew 24:18</div>

							</li>
							<li data-transition="fade">

								<img src="{% static 'img/s3.jpg' %}"
									alt=""
									data-bgposition="right center"
									data-bgpositionend="center center"
									data-bgfit="cover"
									data-bgrepeat="no-repeat"
									data-kenburns="on"
									data-duration="9000"
									data-ease="Linear.easeNone"
									data-scalestart="110"
									data-scaleend="100"
									data-rotatestart="0"
									data-rotateend="0"
									data-offsetstart="0 0"
									data-offsetend="0 0"
									data-bgparallax="0"
									class="rev-slidebg">

								<div class="tp-caption font-weight-extra-bold text-color-light negative-ls-2"
									data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"sX:1.5;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
									data-x="center"
									data-y="center" data-voffset="['-50','-50','-50','-75']"
									data-fontsize="['50','50','50','90']"
									data-lineheight="['55','55','55','95']">Join The Lords <strong style="color: #6325BA;">Movement</strong> </div>

								<!-- <div class="tp-caption font-weight-light "
									data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":2000,"split":"chars","splitdelay":0.05,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
									data-x="center"
									data-y="center"
									data-fontsize="['18','18','18','50']"
									data-lineheight="['20','20','20','55']"
									style="color: #6325BA;">Lets Join Hands and Change The World Through The Gospel.</div> -->

								<a class="tp-caption btn  font-weight-bold"
									href="#"
									data-frames='[{"delay":3000,"speed":2000,"frame":"0","from":"y:50%;opacity:0;","to":"y:0;o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
									data-x="center" data-hoffset="0"
									data-y="center" data-voffset="70"
									data-paddingtop="['15','15','15','30']"
									data-paddingbottom="['15','15','15','30']"
									data-paddingleft="['40','40','40','57']"
									data-paddingright="['40','40','40','57']"
									data-fontsize="['13','13','13','25']"
									data-lineheight="['20','20','20','25'] " style="background-color: #6325BA;">Learn More</a>

							</li>
							<li data-transition="fade">

								<img src="{% static 'img/s4.jpg' %}"
									alt=""
									data-bgposition="right center"
									data-bgpositionend="center center"
									data-bgfit="cover"
									data-bgrepeat="no-repeat"
									data-kenburns="on"
									data-duration="9000"
									data-ease="Linear.easeNone"
									data-scalestart="110"
									data-scaleend="100"
									data-rotatestart="0"
									data-rotateend="0"
									data-offsetstart="0 0"
									data-offsetend="0 0"
									data-bgparallax="0"
									class="rev-slidebg">

								<div class="tp-caption font-weight-extra-bold text-color-light negative-ls-2"
									data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"sX:1.5;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
									data-x="center"
									data-y="center" data-voffset="['-50','-50','-50','-75']"
									data-fontsize="['50','50','50','90']"
									data-lineheight="['55','55','55','95']">We are the <strong style="color: #6325BA;">Movement</strong></div>

								<div class="tp-caption font-weight-light text-color-light"
									data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":2000,"split":"chars","splitdelay":0.05,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
									data-x="center"
									data-y="center"
									data-fontsize="['18','18','18','50']"
									data-lineheight="['20','20','20','55']"
									style="color: #b5b5b5;">of Salvation</div>

								<!-- <a class="tp-caption btn  font-weight-bold"
									href="#"
									data-frames='[{"delay":3000,"speed":2000,"frame":"0","from":"y:50%;opacity:0;","to":"y:0;o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
									data-x="center" data-hoffset="0"
									data-y="center" data-voffset="70"
									data-paddingtop="['15','15','15','30']"
									data-paddingbottom="['15','15','15','30']"
									data-paddingleft="['40','40','40','57']"
									data-paddingright="['40','40','40','57']"
									data-fontsize="['13','13','13','25']"
									data-lineheight="['20','20','20','25']" style="background-color: #6325BA;">Learn More<i class="fas fa-arrow-down ml-1"></i></a> -->

							</li>
							<li data-transition="fade">

								<img src="{% static 'img/s5.jpg' %}"
									alt=""
									data-bgposition="right center"
									data-bgpositionend="center center"
									data-bgfit="cover"
									data-bgrepeat="no-repeat"
									data-kenburns="on"
									data-duration="9000"
									data-ease="Linear.easeNone"
									data-scalestart="110"
									data-scaleend="100"
									data-rotatestart="0"
									data-rotateend="0"
									data-offsetstart="0 0"
									data-offsetend="0 0"
									data-bgparallax="0"
									class="rev-slidebg">

								<div class="tp-caption font-weight-extra-bold text-color-light negative-ls-2"
									data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"sX:1.5;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
									data-x="center"
									data-y="center" data-voffset="['-50','-50','-50','-75']"
									data-fontsize="['50','50','50','90']"
									data-lineheight="['55','55','55','95']">Lifting the cross of <strong style="color: #6325BA;">Jesus</strong> </div>

								<!-- <div class="tp-caption font-weight-light "
									data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":2000,"split":"chars","splitdelay":0.05,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
									data-x="center"
									data-y="center"
									data-fontsize="['18','18','18','50']"
									data-lineheight="['20','20','20','55']"
									style="color: #6325BA;">Lets Join Hands and Change The World Through The Gospel.</div> -->

								<!-- <a class="tp-caption btn  font-weight-bold"
									href="#"
									data-frames='[{"delay":3000,"speed":2000,"frame":"0","from":"y:50%;opacity:0;","to":"y:0;o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
									data-x="center" data-hoffset="0"
									data-y="center" data-voffset="70"
									data-paddingtop="['15','15','15','30']"
									data-paddingbottom="['15','15','15','30']"
									data-paddingleft="['40','40','40','57']"
									data-paddingright="['40','40','40','57']"
									data-fontsize="['13','13','13','25']"
									data-lineheight="['20','20','20','25'] " style="background-color: #6325BA;">Learn More</a> -->

							</li>

						</ul>
					</div>
				</div>
					  <!-- Mission,Aim,Motto -->


				<section style="background-color: #6325BA; "class="section  section-no-border my-0">
					<div class="container mb-5 pb-5">
						<div class="row justify-content-center">
							<div class="col">
								<div class="row pt-4">
									<div class="col-md-8 order-2 order-md-1 appear-animation" data-appear-animation="fadeInRightShorter">
										<div class="row text-center text-md-left mb-5 pb-5">
											<div class="col-lg-7">
												<h2 class="text-7 font-weight-semibold mb-2 text-color-light">Lets Join Hands and Change The World Through The Gospel.</h2>
											</div>
											<div class="col-lg-10">
												<p class="text-3 line-height-9 opacity-11">Taking the gospel to all the world by the grace and love of our lord and Saviour.</p>
												<a href="#" class="d-inline-flex align-items-center btn btn-dark text-color-light font-weight-bold px-4 btn-py-2 text-2 rounded">Find Out More <i class="fa fa-arrow-down ml-2 pl-1 text-3"></i></a>
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>

				</section>

				<div class="container">
					<div class="row" style="margin-top: -165px">
						<div class="col-md-6 col-lg-4 mb-5 mb-lg-0">

							<div class="card flip-card flip-card-3d bg-transparent text-center rounded-0">
								<div class="flip-front p-5">
									<div class="flip-content my-4">
										<strong class="font-weight-extra-bold text-color-dark line-height-1 text-13 mb-3 d-inline-block">Aim</strong>

										<p>Taking The Advent message to all the world in my generation.</p>
									</div>
								</div>
								<div class="flip-back d-flex align-items-center p-5" style="background-image: url({% static 'img/_MG_1485.jpg' %}); background-size: cover; background-position: center;">
									<div class="flip-content my-4">
										<h4 class="font-weight-bold text-color-light">Meaning</h4>
										<p class="font-weight-light text-color-light opacity-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius.</p>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-6 col-lg-4 mb-5 mb-lg-0">

							<div class="card flip-card flip-card-3d bg-transparent text-center rounded-0">
								<div class="flip-front p-5">
									<div class="flip-content my-4">
										<strong class="font-weight-extra-bold text-color-dark line-height-1 text-13 mb-3 d-inline-block">Motto</strong>
										<p>The love of Christ compels me.</p>
									</div>
								</div>
							<div class="flip-back d-flex align-items-center p-5" style="background-image: url({% static 'img/_MG_1485.jpg' %}); background-size: cover; background-position: center;">
									<div class="flip-content my-4">
										<h4 class="font-weight-bold text-color-light">Meaning</h4>
										<p class="font-weight-light text-color-light opacity-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius.</p>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-6 col-lg-4 mb-5 mb-lg-0">

							<div class="card flip-card flip-card-3d bg-transparent text-center rounded-0">
								<div class="flip-front p-5">
									<div class="flip-content my-4">
										<strong class="font-weight-extra-bold text-color-dark line-height-1 text-13 mb-3 d-inline-block">MISSION</strong>
										<p>Creating a path of salvation of youth through Jesus Christ...</p>
									</div>
								</div>
								<div class="flip-back d-flex align-items-center p-5" style="background-image: url({% static 'img/_MG_1514.jpg' %}); background-size: cover; background-position: center;">
									<div class="flip-content my-4">
										<h4 class="font-weight-bold text-color-light">Meaning</h4>
										<p class="font-weight-light text-color-light opacity-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
			</div>
			<!-- Ministries ShowCase intro -->
			<section class="be_part" style="background-image:url({% static 'img\intro.jpg' %});">
				<div class="container">
					<div class="row justify-content-between align-items-center">
						<div class="col-lg-6">
							<div class="be_part_text">
								<h2>Be part of our different clubs under our ministry.</h2>
									<p>Each club has its purpose and service towards the work God,the four clubs altogether sum cater all the stages of our lives.So regardless of your age you will find your purpose in the lords plan for you and me in our different clubs.</p>

									</div>
								</div>
							</div>
						</div>
						<img src="{% static 'img\child-home.jpg' %}" alt="" class="be_img">
					</section>

			<section class="section bg-color-grey-scale-1 section-height-3 border-0 m-0">
				<div class="container pb-2">
					<div class="row">
						<div class="col-lg-6 text-center text-md-left mb-5 mb-lg-0">
							<h2 class="text-color-dark font-weight-normal text-6 mb-2">2 Conrinthians <strong class="font-weight-extra-bold">5:4</strong></h2>
							<p class="lead">For the love of God couspels us..having absolute conformity in God enriches our youth..Though world slains us our trust for the lord increases day by day.</p>
						</div>

					</div>
				</div>
			</section>
			<!-- Ministries -->
			<div class="container-fluid">
					<div class="row">
						<div class="col-lg-4 pl-lg-0 pr-lg-2 mb-3 appear-animation" data-appear-animation="fadeInRightShorter">
							<span class="thumb-info thumb-info-no-borders thumb-info-no-borders thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom">
								<span class="thumb-info-wrapper overlay overlay-show overlay-op-8">
									<img src="{% static 'img/Adventurer_Logo2.png' %}" class="img-fluid" alt="">
									<span class="thumb-info-title background-transparent mb-4 pl-4 ml-2">
										<span class="thumb-info-type font-weight-light text-1 line-height-1 opacity-8">Club</span>
										<span class="thumb-info-inner font-weight-bold text-4 line-height-4">Adventurer</span>
										<span class="thumb-info-show-more-content pr-3">
											<p class="mb-0 text-1 line-height-9 pr-5 mr-5 mb-3 mt-2">The Adventurer Club is designed to strengthen parent-child relationships  for kids ages 4-9...</p>
											<a href="#" class="d-inline-flex align-items-center btn btn-light text-color-dark font-weight-bold px-2 btn-py-1 text-1 rounded"><span class="text-2 py-1 pl-2">LEARN MORE</span> <i class="fa fa-arrow-right ml-2 mr-2 pl-4 text-3"></i></a>
										</span>
									</span>
								</span>
							</span>
						</div>
						<div class="col-lg-4 px-lg-1 mb-3 appear-animation" data-appear-animation="fadeInDownShorter" data-appear-animation-delay="600">
							<span class="thumb-info thumb-info-no-borders thumb-info-no-borders thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom">
								<span class="thumb-info-wrapper overlay overlay-show overlay-op-8">
									<img src="{% static 'img/Pathfinder_world_logo2.png' %}" class="img-fluid" alt="">
									<span class="thumb-info-title background-transparent mb-4 pl-4 ml-2">
										<span class="thumb-info-type font-weight-light text-1 line-height-1 opacity-8">Club</span>
										<span class="thumb-info-inner font-weight-bold text-4 line-height-4">Pathfinder</span>
										<span class="thumb-info-show-more-content pr-3">
											<p class="mb-0 text-1 line-height-9 pr-5 mr-5 mb-3 mt-2">For those who are familiar with it, “Pathfindering” conjures up images of marching, camping, curious hobbies, bugs and bats. Enlarging their windows on the world and building a relationship with God are the...</p>
											<a href="#" class="d-inline-flex align-items-center btn btn-light text-color-dark font-weight-bold px-2 btn-py-1 text-1 rounded"><span class="text-2 py-1 pl-2">LEARN MORE</span> <i class="fa fa-arrow-right ml-2 mr-2 pl-4 text-3"></i></a>
										</span>
									</span>
								</span>
							</span>
						</div>
						<div class="col-lg-4 pr-lg-0 pl-lg-2 mb-3 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="300">
							<span class="thumb-info thumb-info-no-borders thumb-info-no-borders thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom">
								<span class="thumb-info-wrapper overlay overlay-show overlay-op-8">
									<img src="{% static 'img/Ambassador_logo2.png' %}" class="img-fluid" alt="">
									<span class="thumb-info-title background-transparent mb-4 pl-4 ml-2">
										<span class="thumb-info-type font-weight-light text-1 line-height-1 opacity-8">Club</span>
										<span class="thumb-info-inner font-weight-bold text-4 line-height-4">Ambassador</span>
										<span class="thumb-info-show-more-content pr-3">
											<p class="mb-0 text-1 line-height-9 pr-5 mr-5 mb-3 mt-2">New Level to meet the need of the youth, ages 16-21, in the Seventh-day Adventist Church..</p>
											<a href="#" class="d-inline-flex align-items-center btn btn-light text-color-dark font-weight-bold px-2 btn-py-1 text-1 rounded"><span class="text-2 py-1 pl-2">LEARN MORE</span> <i class="fa fa-arrow-right ml-2 mr-2 pl-4 text-3"></i></a>
										</span>
									</span>
								</span>
							</span>
						</div>
						<div class="col-lg-4 pr-lg-0 pl-lg-2 mb-3 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="300">
							<span class="thumb-info thumb-info-no-borders thumb-info-no-borders thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom">
								<span class="thumb-info-wrapper overlay overlay-show overlay-op-8">
									<img src="{% static 'img/AY_Logo.png' %}" class="img-fluid" alt="">
									<span class="thumb-info-title background-transparent mb-4 pl-4 ml-2">
										<span class="thumb-info-type font-weight-light text-1 line-height-1 opacity-8">Club</span>
										<span class="thumb-info-inner font-weight-bold text-4 line-height-4">Young Adults</span>
										<span class="thumb-info-show-more-content pr-3">
											<p class="mb-0 text-1 line-height-9 pr-5 mr-5 mb-3 mt-2">The story of the Adventist Youth Society, now titled Young Adults (YA), began over 125 years ago along a dusty country lane in Michigan with two young boys kneeling ...</p>
											<a href="#" class="d-inline-flex align-items-center btn btn-light text-color-dark font-weight-bold px-2 btn-py-1 text-1 rounded"><span class="text-2 py-1 pl-2">LEARN MORE</span> <i class="fa fa-arrow-right ml-2 mr-2 pl-4 text-3"></i></a>
										</span>
									</span>
								</span>
							</span>
						</div>

					</div>
				</div>
        <!-- Download section -->
				<section class="parallax section section-text-light section-parallax section-center overlay overlay-show overlay-op-6 my-0" data-plugin-parallax data-plugin-options="{'speed': 1.5}"data-image-src="{% static 'img/download-home.jpg' %}">
					<div class="container my-5 py-5">
						<div class="row justify-content-center text-center">
							<div class="col-8 px-0">
								<h4 class="text-9 font-weight-bold mb-4">Download useful Resources across our ministries</h4>
								<p class="mb-5 line-height-9"></p>

								<a class="btn btn-light-2 btn-outline font-weight-semibold px-4 btn-py-2 text-2">Download Resources<i class="fas fa-file-download ml-2 pl-3 text-3"></i></a>
							</div>
						</div>
					</div>
				</section>
				<!-- project or ministry showcase -->
				<section class="pt-3 pb-4 home-concept-construction">
				<div class="container">
					<div class="row pt-4">
						<div class="col">
							<h2 class="mb-0 text-color-dark">Meet The Ministry</h2>
							<p class="lead">Together we are stronger,this statement as Garden Adventist Youths is one of our cores of existence.Because it is only when we are one like blended  hot milk with chocalate can we take the message of our lord and saviour to all the world. </p>

							<div class="container">

					<div class="row">
						<div class="col">
							<hr class="solid my-5">

							<div class="masonry-loader masonry-loader-showing">
								<div class="masonry" data-plugin-masonry data-plugin-options="{'itemSelector': '.masonry-item'}">
									<div class="masonry-item">
										<a >
											<span class="thumb-info thumb-info-centered-info thumb-info-no-borders">
												<span class="thumb-info-wrapper">
													<img src="{% static 'img/tabith.jpg' %}" class="img-fluid" alt="">


												</span>
											</span>
										</a>
									</div>
									<div class="masonry-item">
										<a >
											<span class="thumb-info thumb-info-centered-info thumb-info-no-borders">
												<span class="thumb-info-wrapper">
													<img src="{% static 'img/alice.jpg' %}" class="img-fluid" alt="">
												</span>
											</span>
										</a>
									</div>
									<div class="masonry-item">
										<a>
											<span class="thumb-info thumb-info-centered-info thumb-info-no-borders">
												<span class="thumb-info-wrapper">
													<img src="{% static 'img/patrick.jpg' %}" class="img-fluid" alt="">


												</span>
											</span>
										</a>
									</div>
									<div class="masonry-item">
										<a>
											<span class="thumb-info thumb-info-centered-info thumb-info-no-borders">
												<span class="thumb-info-wrapper">
													<img src="{% static 'img/nchimunya.jpg' %}" class="img-fluid" alt="">
												</span>
											</span>
										</a>
									</div>
									<div class="masonry-item">
										<a>
											<span class="thumb-info thumb-info-centered-info thumb-info-no-borders">
												<span class="thumb-info-wrapper">
													<img src="{% static 'img/gift.jpg' %}" class="img-fluid" alt="">

												</span>
											</span>
										</a>
									</div>
									<div class="masonry-item">
										<a>
											<span class="thumb-info thumb-info-centered-info thumb-info-no-borders">
												<span class="thumb-info-wrapper">
													<img src="{% static 'img/muboto.jpg' %}" class="img-fluid" alt="">
												</span>
											</span>
										</a>
									</div>
									<div class="masonry-item">
										<a>
											<span class="thumb-info thumb-info-centered-info thumb-info-no-borders">
												<span class="thumb-info-wrapper">
													<img src="{% static 'img/bene.jpg' %}" class="img-fluid" alt="">
												</span>
											</span>
										</a>
									</div>
									<div class="masonry-item">
										<a>
											<span class="thumb-info thumb-info-centered-info thumb-info-no-borders">
												<span class="thumb-info-wrapper">
													<img src="{% static 'img/chris.jpg' %}" class="img-fluid" alt="">
												</span>
											</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>


						</div>
					</div>
				</div>
			</section>

			<!-- Adventurer showcase -->
			<section style="background-color:#6325BA" class="section  border-0 py-0 m-0 appear-animation" data-appear-animation="fadeIn">
					<div class="container">
						<div class="row align-items-center justify-content-center justify-content-lg-between pb-5 pb-lg-0">
							<div class="col-lg-5 order-2 order-lg-1 pt-4 pt-lg-0 pb-5 pb-lg-0 mt-5 mt-lg-0 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200">
								<h2 class="font-weight-bold text-color-light text-7 mb-2">Who  Are We?</h2>
								<p class="lead font-weight-light text-color-light text-4">We Are The Adventures.</p>
								<p class="font-weight-light text-color-light text-2 mb-4 opacity-7">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc. Vivamus bibendun magna ex, et faucibus lacus venenatis eget</p>
								<a href="#" class="btn btn-dark-scale-2 btn-px-5 btn-py-2 text-2">LEARN MORE</a>
							</div>
							<div class="col-9 offset-lg-1 col-lg-5 order-1 order-lg-2 scale-2">
								<img class="img-fluid box-shadow-3 my-2 border-radius" src="img/gallery/gallery-1.jpg" alt="">
							</div>
						</div>
					</div>
				</section>
		<!-- counter -->
		<div class="row counters">
								<div class="col-sm-6 col-lg-3 mb-4 mb-lg-0">
									<div class="counter counter-dark appear-animation" data-appear-animation="bounceIn" data-appear-animation-delay="300">
										<i class="fas fa-user"></i>
										<strong data-to="30000" data-append="+">0</strong>
										<label>Members</label>
									</div>
								</div>
								<div class="col-sm-6 col-lg-3 mb-4 mb-lg-0">
									<div class="counter counter-dark appear-animation" data-appear-animation="bounceIn" data-appear-animation-delay="600">
										<i class="fas fa-user"></i>
										<strong data-to="15">0</strong>
										<label>Followers On Facebook</label>
									</div>
								</div>
								<div class="col-sm-6 col-lg-3 mb-4 mb-sm-0">
									<div class="counter counter-dark appear-animation" data-appear-animation="bounceIn" data-appear-animation-delay="900">
										<i class="fas fa-coffee"></i>
										<strong data-to="352">0</strong>
										<label>Projects</label>
									</div>
								</div>
								<div class="col-sm-6 col-lg-3">
									<div class="counter counter-dark appear-animation" data-appear-animation="bounceIn" data-appear-animation-delay="1200">
										<i class="far fa-chart-bar"></i>
										<strong data-to="178">0</strong>
										<label>Downloadable Resources</label>
									</div>
								</div>
							</div>

							<!-- pathfinder showcase -->
							<section class="section section-height-3 bg-color-grey-scale-1 m-0 border-0">
								<div class="container">
									<div class="row align-items-center justify-content-center">
										<div class="col-lg-6 pb-sm-4 pb-lg-0 pr-lg-5 mb-sm-5 mb-lg-0">
											<h2 class="text-color-dark font-weight-normal text-6 mb-2">Who <strong class="font-weight-extra-bold"> Are We?</strong></h2>
											<p class="lead">We Are The Pathfinders. </p>
											<p class="pr-5 mr-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc. Vivamus bibendum magna ex, et faucibus lacus venenatis eget</p>
											<a href="#" class="btn btn-dark font-weight-semibold btn-px-4 btn-py-2 text-2" style="background-color: #6325BA;">LEARN MORE</a>
										</div>
										<div class="col-sm-8 col-md-6 col-lg-4 offset-sm-4 offset-md-4 offset-lg-2 mt-sm-5" style="top: 1.7rem;">
											<img src="img/generic/generic-corporate-3-1.jpg" class="img-fluid position-absolute d-none d-sm-block appear-animation" data-appear-animation="expandIn" data-appear-animation-delay="300" style="top: 10%; left: -50%;" alt="" />
											<img src="img/generic/generic-corporate-3-2.jpg" class="img-fluid position-absolute d-none d-sm-block appear-animation" data-appear-animation="expandIn" style="top: -33%; left: -29%;" alt="" />
											<img src="img/generic/generic-corporate-3-3.jpg" class="img-fluid position-relative appear-animation mb-2" data-appear-animation="expandIn" data-appear-animation-delay="600" alt="" />
										</div>
									</div>
								</div>
							</section>
							<section style="background-color:#6325BA" class="section section-height-3  border-0 m-0 appear-animation" data-appear-animation="fadeIn">
								<div class="container">
									<div class="row">
										<div class="col appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
											<h2 class="font-weight-bold text-color-light text-6 mb-4">Latest Posts</h2>
										</div>
									</div>
									<div class="row recent-posts appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
										{% for obj in latest %}
										<div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
											<article>
												<div class="row">
													<div class="col">
														<a href="#" class="text-decoration-none">
															<img src="{{ obj.Thumbnail.url }}" class="img-fluid hover-effect-2 mb-3" alt="" />
														</a>
													</div>
												</div>
												<div class="row">
													<div class="col-auto pr-0">
														<div class="date">
															<span class="day bg-color-light text-color-dark font-weight-extra-bold">{{ obj.timestamp|date:"d" }}</span>
															<span class="month bg-color-light font-weight-semibold text-color-primary text-1">{{ obj.timestamp|date:"M" }}</span>
														</div>
													</div>
													<div class="col pl-1">
														<h4 class="line-height-3 text-4"><a href="{% url 'blog:blog-details' obj.slug %}" class="text-light">{{ obj.Title }}</a></h4>
														<p class="text-color-light line-height-5 opacity-6 pr-4 mb-1">{{ obj.Content|truncatechars_html:75 }}</p>
														<a href="{% url 'blog:blog-details' obj.slug %}" class="read-more text-color-light font-weight-semibold text-2">read more <i class="fas fa-chevron-right text-1 ml-1"></i></a>
													</div>
												</div>
											</article>
										</div>
										{% endfor %}

									</div>
								</div>
							</section>
							<!-- Ambassador showwcase -->
							<section class="section section-height-3 bg-color-grey-scale-1 border-0 m-0 appear-animation" data-appear-animation="fadeIn">
								<div class="container">
									<div class="row align-items-center text-center text-md-left">
										<div class="col-md-6 mb-5 mb-md-0 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200">
											<h2 class="text-color-dark font-weight-normal text-6 mb-2">Who <strong class="font-weight-extra-bold"> Are We?</strong></h2>
											<p class="lead">We Are The Ambassadors. </p>
											<p class="mb-4 pr-md-5">We Are The Ambassadors.</p>
											<a href="#" class="btn btn-dark font-weight-semibold rounded-0 text-2 btn-px-5 btn-py-2" style="background-color: #6325BA;">LEARN MORE</a>
										</div>
										<div class="col-md-6 col-lg-5 offset-lg-1 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="400">
											<div class="owl-carousel owl-theme nav-style-1 stage-margin mb-0" data-plugin-options="{'responsive': {'576': {'items': 1}, '768': {'items': 1}, '992': {'items': 1}, '1200': {'items': 1}}, 'margin': 25, 'loop': true, 'nav': true, 'dots': false, 'stagePadding': 40}">
												<div class="p-4">
													<img class="img-fluid box-shadow-3 mb-3" src="img/gallery/gallery-6.jpg" alt="" />
												</div>
												<div class="p-4">
													<img class="img-fluid box-shadow-3 mb-3" src="img/gallery/gallery-7.jpg" alt="" />
												</div>
											</div>
										</div>
									</div>
								</div>
							</section>

							<!-- leadership -->

				<section class="page-header page-header-modern page-header-background page-header-background-pattern page-header-background-sm overlay overlay-color-dark overlay-show overlay-op-5" style="background-image: url(img/patterns/wild_oliva.png);">
					<div class="container">
						<div class="row">
							<div class="col-md-12 align-self-center p-static order-2 text-center">
								<h1>Meet Our <strong>Leadership</strong></h1>
							</div>

						</div>
					</div>
				</section>

				<div class="container py-4">

					<ul class="nav nav-pills sort-source sort-source-style-3 justify-content-center" data-sort-id="team" data-option-key="filter">
						<li class="nav-item active" data-option-value="*"><a style="border-bottom-color: #6563BA !important; color: #6563BA !important;" class="nav-link text-1 text-uppercase active" href="#">Adventist Youth Administration</a></li>
						<li class="nav-item" data-option-value=".leadership"><a style="border-bottom-color: #6563BA !important; color: #6563BA !important;" class="nav-link text-1 text-uppercase" href="#">Adventurer</a></li>
						<li class="nav-item" data-option-value=".marketing"><a style="border-bottom-color: #6563BA !important; color: #6563BA !important;" class="nav-link text-1 text-uppercase" href="#">Pathfinder</a></li>
						<li class="nav-item" data-option-value=".ambassador"><a style="border-bottom-color: #6563BA !important; color: #6563BA !important;" class="nav-link text-1 text-uppercase" href="#">Ambassador</a></li>
						<li class="nav-item" data-option-value=".development"><a style="border-bottom-color: #6563BA !important; color: #6563BA !important;" class="nav-link text-1 text-uppercase" href="#">Young Adults</a></li>
					</ul>

					<div class="sort-destination-loader sort-destination-loader-showing mt-4 pt-2">
						<div class="row team-list sort-destination" data-sort-id="team">
							<div class="col-12 col-sm-6 col-lg-3 isotope-item leadership">
								<span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
									<span class="thumb-info-wrapper">
										<a href="about-me.html">
											<img src="{% static 'img/female-avatar.png' %}" class="img-fluid" alt="">
											<span class="thumb-info-title">
												<span class="thumb-info-inner">John Doe</span>
												<span class="thumb-info-type" style="background-color: #6325BA;">CEO</span>
											</span>
										</a>
									</span>
									<span class="thumb-info-caption">
										<span class="thumb-info-caption-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac ligula mi, non suscipitaccumsan.</span>
										<span class="thumb-info-social-icons mb-4">
											<a target="_blank" href="http://www.facebook.com"><i class="fab fa-facebook-f"></i><span>Facebook</span></a>
											<a href="http://www.linkedin.com"><i class="fab fa-linkedin-in"></i><span>Linkedin</span></a>
										</span>
									</span>
								</span>
							</div>
							<div class="col-12 col-sm-6 col-lg-3 isotope-item marketing">
								<span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
									<span class="thumb-info-wrapper">
										<a href="about-me.html">
											<img src="{% static 'img/female-avatar.png' %}" class="img-fluid" alt="">
											<span class="thumb-info-title">
												<span class="thumb-info-inner">Jessica Doe</span>
												<span class="thumb-info-type" style="background-color: #6325BA;">Marketing</span>
											</span>
										</a>
									</span>
									<span class="thumb-info-caption">
										<span class="thumb-info-caption-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac ligula mi, non suscipitaccumsan.</span>
										<span class="thumb-info-social-icons mb-4">
											<a href="http://www.twitter.com"><i class="fab fa-twitter"></i><span>Twitter</span></a>
											<a href="http://www.linkedin.com"><i class="fab fa-linkedin-in"></i><span>Linkedin</span></a>
										</span>
									</span>
								</span>
							</div>
							<div class="col-12 col-sm-6 col-lg-3 isotope-item development">
								<span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
									<span class="thumb-info-wrapper">
										<a href="about-me.html">
											<img src="{% static 'img/female-avatar.png' %}" class="img-fluid" alt="">
											<span class="thumb-info-title">
												<span class="thumb-info-inner">Rick Edward Doe</span>
												<span class="thumb-info-type" style="background-color: #6325BA;">Developer</span>
											</span>
										</a>
									</span>
									<span class="thumb-info-caption">
										<span class="thumb-info-caption-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac ligula mi, non suscipitaccumsan.</span>
										<span class="thumb-info-social-icons mb-4">
											<a target="_blank" href="http://www.facebook.com"><i class="fab fa-facebook-f"></i><span>Facebook</span></a>
											<a href="http://www.twitter.com"><i class="fab fa-twitter"></i><span>Twitter</span></a>
											<a href="http://www.linkedin.com"><i class="fab fa-linkedin-in"></i><span>Linkedin</span></a>
										</span>
									</span>
								</span>
							</div>
							<div class="col-12 col-sm-6 col-lg-3 isotope-item design">
								<span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
									<span class="thumb-info-wrapper">
										<a href="about-me.html">
											<img src="{% static 'img/female-avatar.png' %}" class="img-fluid" alt="">
											<span class="thumb-info-title">
												<span class="thumb-info-inner">Melinda Doe</span>
												<span class="thumb-info-type" style="background-color: #6325BA;">Design</span>
											</span>
										</a>
									</span>
									<span class="thumb-info-caption">
										<span class="thumb-info-caption-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac ligula mi, non suscipitaccumsan.</span>
										<span class="thumb-info-social-icons mb-4">
											<a target="_blank" href="http://www.facebook.com"><i class="fab fa-facebook-f"></i><span>Facebook</span></a>
											<a href="http://www.twitter.com"><i class="fab fa-twitter"></i><span>Twitter</span></a>
											<a href="http://www.linkedin.com"><i class="fab fa-linkedin-in"></i><span>Linkedin</span></a>
										</span>
									</span>
								</span>
							</div>
							<div class="col-12 col-sm-6 col-lg-3 isotope-item development">
								<span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
									<span class="thumb-info-wrapper">
										<a href="about-me.html">
											<img src="{% static 'img/female-avatar.png' %}" class="img-fluid" alt="">
											<span class="thumb-info-title">
												<span class="thumb-info-inner">Robert Doe</span>
												<span class="thumb-info-type" style="background-color: #6325BA;">Design</span>
											</span>
										</a>
									</span>
									<span class="thumb-info-caption">
										<span class="thumb-info-caption-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac ligula mi, non suscipitaccumsan.</span>
										<span class="thumb-info-social-icons mb-4">
											<a target="_blank" href="http://www.facebook.com"><i class="fab fa-facebook-f"></i><span>Facebook</span></a>
										</span>
									</span>
								</span>
							</div>
							<div class="col-12 col-sm-6 col-lg-3 isotope-item marketing">
								<span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
									<span class="thumb-info-wrapper">
										<a href="about-me.html">
											<img src="{% static 'img/female-avatar.png' %}" class="img-fluid" alt="">
											<span class="thumb-info-title">
												<span class="thumb-info-inner">Melissa Doe</span>
												<span class="thumb-info-type" style="background-color: #6325BA;">Marketing</span>
											</span>
										</a>
									</span>
									<span class="thumb-info-caption">
										<span class="thumb-info-caption-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac ligula mi, non suscipitaccumsan.</span>
										<span class="thumb-info-social-icons mb-4">
											<a target="_blank" href="http://www.facebook.com"><i class="fab fa-facebook-f"></i><span>Facebook</span></a>
											<a href="http://www.twitter.com"><i class="fab fa-twitter"></i><span>Twitter</span></a>
											<a href="http://www.linkedin.com"><i class="fab fa-linkedin-in"></i><span>Linkedin</span></a>
										</span>
									</span>
								</span>
							</div>
							<div class="col-12 col-sm-6 col-lg-3 isotope-item development">
								<span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
									<span class="thumb-info-wrapper">
										<a href="about-me.html">
											<img src="{% static 'img/female-avatar.png' %}" class="img-fluid" alt="">
											<span class="thumb-info-title">
												<span class="thumb-info-inner">Janice Doe</span>
												<span class="thumb-info-type" style="background-color: #6325BA;">Developer</span>
											</span>
										</a>
									</span>
									<span class="thumb-info-caption">
										<span class="thumb-info-caption-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac ligula mi, non suscipitaccumsan.</span>
										<span class="thumb-info-social-icons mb-4">
											<a href="http://www.linkedin.com"><i class="fab fa-linkedin-in"></i><span>Linkedin</span></a>
										</span>
									</span>
								</span>
							</div>
							<div class="col-12 col-sm-6 col-lg-3 isotope-item development">
								<span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
									<span class="thumb-info-wrapper">
										<a href="about-me.html">
											<img src="{% static 'img/female-avatar.png' %}" class="img-fluid" alt="">
											<span class="thumb-info-title">
												<span class="thumb-info-inner">Jerry Doe</span>
												<span class="thumb-info-type" style="background-color: #6325BA;">Developer</span>
											</span>
										</a>
									</span>
									<span class="thumb-info-caption">
										<span class="thumb-info-caption-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac ligula mi, non suscipitaccumsan.</span>
										<span class="thumb-info-social-icons mb-4">
											<a target="_blank" href="http://www.facebook.com"><i class="fab fa-facebook-f"></i><span>Facebook</span></a>
											<a href="http://www.twitter.com"><i class="fab fa-twitter"></i><span>Twitter</span></a>
											<a href="http://www.linkedin.com"><i class="fab fa-linkedin-in"></i><span>Linkedin</span></a>
										</span>
									</span>
								</span>
							</div>
						</div>

					</div>

				</div>

			</div>
			<!-- young adults -->
			<section style="background-color:#6325BA" class="section  border-0 py-0 m-0 appear-animation" data-appear-animation="fadeIn">
					<div class="container">
						<div class="row align-items-center justify-content-center justify-content-lg-between pb-5 pb-lg-0">
							<div class="col-lg-5 order-2 order-lg-1 pt-4 pt-lg-0 pb-5 pb-lg-0 mt-5 mt-lg-0 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200">
								<h2 class="font-weight-bold text-color-light text-7 mb-2">Who  Are We?</h2>
								<p class="lead font-weight-light text-color-light text-4">We Are The Young Adults.</p>
								<p class="font-weight-light text-color-light text-2 mb-4 opacity-7">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc. Vivamus bibendun magna ex, et faucibus lacus venenatis eget</p>
								<a href="#" class="btn btn-dark-scale-2 btn-px-5 btn-py-2 text-2">LEARN MORE</a>
							</div>
							<div class="col-9 offset-lg-1 col-lg-5 order-1 order-lg-2 scale-2">
								<img class="img-fluid box-shadow-3 my-2 border-radius" src="img/gallery/gallery-1.jpg" alt="">
							</div>
						</div>
					</div>
				</section>
		</div>
	</div>




{% endblock content %}
